.benefits__container {
  @include container();
}

.benefits__text {
  margin: 0 auto;
  font-family: $font-stack;
  font-size: 24px;
  color: $base-color-dark;
  font-weight: 300;
  text-align: center;
  padding-top: 5px;

  @media #{$media-tablet} {
    font-size: 40px;
  }

  @media #{$media-desktop} {
    padding-top: 62px;
    font-size: 50px;
    line-height: 68px;
  }
}

.benefits__list {
  list-style: none;
  padding: 0;
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 318px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center bottom;

  @media #{$media-tablet} {
    background-position: left top;
  }

  @media #{$media-desktop} {
    flex-direction: row;
    justify-content: space-between;
    background-image: none;
    padding-bottom: 0;
  }
}

.benefits__item {
  text-align: center;

  @media #{$media-tablet} {
    width: 50%;
    margin-top: 0;
  }

  @media #{$media-desktop} {
    width: 33.30%;
    padding-top: 315px;
    background-repeat: no-repeat;
    background-position: center 20px;
  }


  &--mood {
    @media #{$media-desktop} {
      background-image: url("../../img/iphone-screen-1-desktop@1x.png");
    }
  }

  &--change {
    @media #{$media-desktop} {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
    }
  }

  &--friends {
    @media #{$media-desktop} {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
    }
  }
}

.benefits__heading {
  margin: 0;
  font-family: $font-stack;
  font-size: $font-size-base;
  color: $base-color-black;
  text-align: center;

  @media #{$media-desktop} {
    font-size: 30px;
    line-height: 30px;
    margin-top: 60px;
  }
}

.benefits__wrap {
  background-color: $base-color-light;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
}

.benefits__paragraph {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  font-size: 14px;
  color: $base-color-dark;
  text-align: center;

  @media #{$media-desktop} {
    font-size: $font-size-base;
    margin-top: 35px;
    line-height: 30px;
  }
}
