.benefits {
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-color: $base-color-light;
}

.benefits__wrap,
.benefits__list {
  @include centered-mobile();
}

.benefits__text {
  font-family: $font-stack;
  font-size: 24px;
  line-height: 120%;
  color: $base-color-dark;
  font-weight: 300;
  text-align: center;
}

.benefits__list {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.benefits__heading {
  margin: 0;
  font-family: $font-stack;
  font-size: $font-size-base;
  line-height: 24px;
  color: $base-color-black;
  text-align: center;
}

.benefits__paragraph {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  font-size: 14px;
  line-height: 24px;
  color: $base-color-dark;
  text-align: center;
}

.benefits__item {
  text-align: center;

  &--mood {
    background-image: url("../img/iphone-screen-1-mobile@1x.png");
    background-repeat: no-repeat;
  }

  &--change {
    background-image: url("../img/iphone-screen-2-mobile@1x.png");
    background-repeat: no-repeat;
  }

  &--friends {
    background-image: url("../img/iphone-screen-3-mobile@1x.png");
    background-repeat: no-repeat;
  }
}
