.contest {
  @include centered-mobile ();
  background-color: $base-color-white;
  font-family: $font-stack;
  padding-top: 32px;
  // padding-top: 72px; for desktop
}

.contest__heading {
  @include container-mobile ();
  font-family: $font-stack;
  font-size: 14px;
  line-height: 30px;
  color: $base-color-dark;
  text-align: center;
  font-weight: 400;
  padding-left: 20px;
  padding-bottom: 20px;
}

// .contest__form {
//   // padding-top: 68px; для десктопов
// }

.contest__wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
