.contest {
  @include centered-desk ();
  background-color: $base-color-white;
  font-family: $font-stack;
  padding-top: 72px;
}

.contest__heading {
  font-family: $font-stack;
  font-size: $font-size-base;
  line-height: 30px;
  color: $base-color-dark;
  text-align: center;
}

.contest__form {
  padding-top: 68px;
}

.contest__wrap {
  display: flex;
}
