.filter__label {
  display: block;
}

.filter__range {
  appearance: none;
  height: 2px;
  background-color: $base-color-dark;

  @media #{$media-tablet} {
    // padding: 21px 80px;
  }

  @media #{$media-desktop} {
    border-bottom: 1px solid rgba($color: $base-color-dark, $alpha: 0.3);
  }

  &::-webkit-slider-thumb {
    appearance: none;
    background-color: $base-color-white;
    border: 2px solid $base-color-bright;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0;
  }
}

.filter__btn {
  box-sizing: border-box;
  font-family: inherit;
  font-size: $font-size-base;
  font-weight: 700;
  border: none;
  background-color: $base-color-white;
  border-radius: 30px;
  padding: 21px 90px;

  &--submit {
    color: $base-color-bright;
    border: 3px solid $base-color-bright;

    &:hover {
      color: $base-color-white;
      background-color: $base-color-bright;
    }

    &:active {
      color: rgba($color: $base-color-white, $alpha: 0.3);
    }

    @media #{$media-tablet} {
      padding: 21px 80px;
    }

    @media #{$media-desktop} {
      padding: 21px 42px;
    }
  }

  &--reset {
    color: $base-color-dark;
    opacity: 0.1;
    border: 3px solid  $base-color-dark;

    &:hover {
      opacity: 0.3;
    }

    &:active {
      opacity: 0.3;
      background-color: $base-color-dark;
    }

    @media #{$media-tablet} {
      padding: 21px 80px;
    }

    @media #{$media-desktop} {
      padding: 21px 42px;
    }
  }
}
