.footer {
  @include container();
}

.footer__logo {
  display: block;
}

.footer__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media #{$media-tablet} {
    flex-direction: row;
    justify-content: space-between;
  }
}
