.header {
  background-color: rgba($color: $base-color-black, $alpha: 0.3);
}

.header__wrap {
  background-color: $base-color-dark;
}

.header__container {
  @include container ();
}

.header__logo {
  padding-top: 23px;
  padding-bottom: 23px;
  display: block;
}

.header__nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media #{$media-desktop} {
    flex-direction: row;
  }
}

.header__link {
  color: $base-color-white;
  font-family: inherit;
  font-size: $font-size-base;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $base-color-dark;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
  // padding-bottom: 25px;
  // @media (min-width: $width-desktop) {
  //   font-size: $font-size-base;
  // }
}
