.header {
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.header__wrap {
  background-color: rgba($color: $base-color-black, $alpha: 0.3);
}

.header__nav {
  max-width: 960px;

  @include centered-desk ();
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__link {
  text-decoration: none;
  color: $base-color-white;
  font-family: $font-stack;
  font-size: $font-size-base;
  line-height: 18px;
  padding-top: 25px;
}

.header__logo {
  padding-top: 28px;
}
