.panorama {
  font-family: $font-stack;
  background-color: $base-color-white;
  position: relative;
}

.panorama__photo {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.panorama__comment {
  background-color: $base-color-light;
  padding-bottom: 31px;
}

.panorama__box {
  width: 100%;
  display: flex;
}

.panorama__head {
  font-size: 14px;
  color: $base-color-dark;
  background-color: $base-color-light;
}

.panorama__text {
  margin: 0;
  padding: 0;
}
