.photos {
  @include centered-desk ();
}

.photo {
  font-size: 14px;
  line-height: 24px;
  color: $base-color-dark;
  background-color: $base-color-light;
  width: 300px;
  margin-top: 50px;
}

.photo__img {
  display: block;
  background-color: $base-color-white;
}

.photo__heading {
  margin: 0;
  font-family: $font-stack-bold;
}

.photo__time {
  font-family: $font-stack-light;
  text-transform: uppercase;
  font-weight: 300;
}

.photo__text {
  font-family: $font-stack;
}

.like__text {
  font-family: $font-stack;
  font-size: 14px;
  line-height: 24px;
  color: $base-color-bright;
}

.like__link {
  background-image: url("../../img/icon-heart.svg");
  background-repeat: no-repeat;
}
