.promo__head-wrap {
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center bottom;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.jpg");
  }

  @media #{$media-tablet} {
    padding-top: 114px;
    background-image: none;
  }
}

.promo {
  @media #{$media-tablet} {
    background-image: url("../img/iphone-hand-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.jpg");
    }
  }

  @media #{$media-desktop} {
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 220px 125px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.jpg");
    }
  }

  &--photo,
  &--form {
    background-image: none;
  }
}

.promo__container {
  @include container ();
}

.promo__heading {
  margin: 0;
  padding: 35px 14px 34px 16px;
  color: $base-color-white;
  font-size: 24px;
  font-weight: 300;
  text-align: center;

  @media #{$media-tablet} {
    font-size: 40px;
  }

  @media #{$media-desktop} {
    font-size: 50px;
    line-height: 68px;
    width: 30%;
    padding: 10px 5px 34px 10px;
  }

  &--photo,
  &--form {
    @media #{$media-desktop} {
      width: 100%;
      margin-top: 40px;
      padding: 44px 0 90px 0;
    }
  }
}

.promo__wrap {
  background-color: $bg-color-dark;
  padding-top: 30px;
  padding-bottom: 15px;

  @media #{$media-tablet} {
    background-color: transparent;
  }

  @media #{$media-desktop} {
    padding-top: 0;
    padding-bottom: 105px;
  }
}

.promo__download {
  @media #{$media-tablet} {
    width: 300px;
  }
}

.promo__btn {
  display: block;
  font-family: inherit;
  color: $base-color-white;
  font-size: 14px;
  font-weight: 700;
  border: 3px solid $base-color-white;
  border-radius: 29px;
  text-decoration: none;
  text-align: center;
  padding: 15px 0;
  margin-right: auto;
  margin-left: auto;

  @media #{$media-tablet} {
    font-size: $font-size-base;
  }

  @media #{$media-desktop} {
    padding: 18px 10px;
    font-size: 21px;
    line-height: 18px;
  }
}

.promo__list {
  margin: 0;
  padding: 0;
  margin-top: 32px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: baseline;

  @media #{$media-desktop} {
    margin-top: 65px;
  }
}

.promo__item {
  margin-right: 34px;

  &:last-child {
    margin-right: 0;
  }
}

.promo__link {
  text-decoration: none;
  display: block;
}

.promo__text {
  color: $base-color-white;
  font-size: 14px;
  margin-top: 18px;
  text-align: center;
  font-weight: 300;
  padding-right: 20px;
  padding-left: 20px;

  @media #{$media-desktop} {
    font-size: $font-size-base;
    padding: 0;
    margin-top: 50px;
  }
}

.promo__img {
  &--apple {
    width: 47px;
    height: 56px;
  }

  &--android {
    width: 43px;
    height: 47px;
  }

  &--windows {
    width: 44px;
    height: 41px;
  }
}
