.promo {
  background-color: $bg-color-dark;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;

  // &--index {
  //
  //
  //   background-position-x: 25px;
  //   background-position-y: 93px;
  //   padding-bottom: 105px;
  // }
}

.promo__head-wrap {
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 395px;

  @media #{$media-table} {
    min-height: 127px;
    background-image: none;
  }
}

.promo__container {
  @include container ();
}

.promo__heading {
  margin: 0;
  padding: 35px 14px 34px 16px;
  color: $base-color-white;
  font-size: 24px;
  font-weight: 300;
  text-align: center;

  @media #{$media-table} {
    min-height: 127px;
    font-size: 40px;
  }

  @media #{$media-desktop} {
    font-size: 50px;
  }

  &--index {
    padding-top: 25px;
    padding-left: 16px;
    padding-bottom: 34px;

    @media #{$media-table} {
      width: 300px;
      min-height: 127px;
      font-size: 40px;
      padding: 0;
    }
  }

  &--form {
    padding-top: 30px;
    padding-left: 16px;
    padding-bottom: 50px;
  }

  &--photo {
    min-height: 105px;
    padding: 30px 14px 34px 16px;
  }
}

.promo__wrap {
  background-color: $bg-color-dark;
  padding-top: 30px;
  padding-bottom: 15px;

  @media #{$media-table} {
    background-color: transparent;
  }
}

.promo__download {
  @media #{$media-table} {
    width: 300px;
  }
}

.promo__btn {
  display: block;
  font-family: inherit;
  color: $base-color-white;
  font-size: 14px;
  font-weight: 700;
  border: 3px solid $base-color-white;
  border-radius: 29px;
  text-decoration: none;
  text-align: center;
  padding: 15px 0;
  margin-right: auto;
  margin-left: auto;

  @media #{$media-table} {
    font-size: $font-size-base;
  }
}

.promo__list {
  margin: 0;
  padding: 0;
  margin-top: 32px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.promo__item {
  margin-right: 34px;

  &:last-child {
    margin-right: 0;
  }
}

.promo__link {
  text-decoration: none;
  display: block;
}

.promo__text {
  color: $base-color-white;
  font-size: 14px;
  margin-top: 18px;
  text-align: center;
  font-weight: 300;
  padding-right: 20px;
  padding-left: 20px;
}

.promo__img {
  &--apple {
    width: 47px;
    height: 56px;
  }

  &--android {
    width: 43px;
    height: 47px;
  }

  &--windows {
    width: 44px;
    height: 41px;
  }
}
