.rate {
  background-color: $base-color-light;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  padding-bottom: 98px;
  overflow: hidden;

  @include container();
}
