.research {
  background-color: $base-color-light;

  @media #{$media-desktop} {
    height: 330px;
  }

  @media #{$media-desktop} {
    height: 429px;
  }
}

.research__wrap {
  @include container ();
  background-image: url("../img/icon-timer.svg");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
}

.research__heading {
  margin: 0;
  font-family: $font-stack;
  font-size: $font-size-m;
  color: $base-color-black;
  padding-top: 102px;
}

.research__text {
  margin: 0;
  font-family: $font-stack;
  font-size: $font-size-base;
  color: $base-color-dark;
  padding-top: 27px;
}

.research__link {
  font-family: $font-stack;
  font-size: $font-size-base;
  color: $base-color-bright;
  display: block;
  padding-top: 30px;
}

.research--hide {
  display: none;

  @media #{$media-table} {
    display: block;
    height: 330px;
  }

  @media #{$media-desktop} {
    // height: 429px;
    padding-top: 115px;
    padding-bottom: 120px;
  }
}
