.reviews {
  @include centered-mobile ();
  background-image: url("../img/icon-quotes.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 58px;
}

.reviews__list {
  position: relative;

  &::before {
    content: "";
    width: 22px;
    height: 41px;
    position: absolute;
    top: 50%;
    background-image: url("../img/icon-review-arrow-left.svg");
  }

  &::after {
    content: "";
    width: 22px;
    height: 41px;
    position: absolute;
    right: 0;
    top: 50%;
    background-image: url("../img/icon-review-arrow-right.svg");
  }
}

.reviews__item {
  padding-top: 170px;
  padding-left: center;
  text-align: center;
}

.reviews__text {
  margin: 0;
  font-family: $font-stack;
  font-size: $font-size-base;
  line-height: 30px;
  color: $base-color-dark;
}

.reviews__author-name {
  font-family: $font-stack;
  font-size: 24px;
  line-height: 30px;
  color: $base-color-black;
  font-style: normal;
  display: block;
  margin-top: 35px;
}

.reviews__author-age {
  margin: 0;
  font-family: $font-stack;
  font-size: $font-size-base;
  line-height: 30px;
  color: $base-color-dark;
  margin-top: 2px;
}
