.treatment {
  @include centered-mobile ();
}

.treatment__form {
  display: flex;
}

.treatment__label {
  width: 300px;
}

.treatment__heading {
  font-family: $font-stack;
  font-size: $font-size-base;
  color: $base-color-dark;
  line-height: 30px;
}
