.treatment {
  @include centered-mobile ();
}

.treatment__heading {
  @include container-mobile ();
  font-size: 14px;
  line-height: 30px;
  color: $base-color-dark;
  text-align: center;
  font-weight: 400;
  padding: 32px 0 0 20px;
}

.treatment__form {
  display: flex;
  flex-direction: column;
  background-color: $base-color-light;
}

.treatment__file {
  display: none;
}
