//color theme
$base-color-white: #FFFFFF;
$base-color-light: #F2F2F2;
$base-color-dark: #283645;
$base-color-bright: #D22856;
$base-color-black: #000000;

$btn-color-green: #2AAB6D;

//fonts variables
$font-stack: ("Open Sans", "Arial", sans-serif);
$font-size-base: 18px;
$font-size-s: 21px;
$font-size-m: 30px;
$font-size-l: 50px;



