//color theme
$base-color-white: #ffffff;
$base-color-light: #f2f2f2;
$base-color-dark: #283645;
$base-color-bright: #d22856;
$base-color-black: #000000;
$btn-color-green: #2aab6d;
$table-border-color: #e5e5e5;
$bg-color-dark: #1d2631;
//fonts variables
$font-stack: ("Open Sans", "Arial", sans-serif);
$font-size-base: 18px;
$font-size-s: 21px;
$font-size-m: 30px;
$font-size-l: 50px;
//media variables
$width-desktop: 860px;
$width-tablet: 500px;
$width-mobile: 320px;

$media-mobile: screen and (min-width: $width-mobile);
$media-tablet: screen and (min-width: $width-tablet);
$media-desktop: screen and (min-width: $width-desktop);
$media-mobile-only: screen and (max-width: $width-desktop);
// media retina
$retina-grafic: (min-resolution: 2dppx);
